/* Info Page Styles */

/* body {
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    sans-serif;
  line-height: 1.6;
} */
@import url('./variables.css');

div.info_container {
  background-color: var(--bg-color);
  --padding: 1rem;
  /* width: fit-content; */
  /* width: 28em; */
  margin-inline: auto;
  margin-top: 1em;
  padding: var(--padding);
  /* flex-direction: column; */
  /* background-color: inherit; */
  min-width: 25rem;
  max-width: 60rem;
  /* margin: auto; */
}
main {
  display: block;
  margin-top: 1rem;
  padding: 1rem;
  background-color: var(--menu-bg-color);
  /* border-radius: 8px; */
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  /* padding-bottom: 0.5rem; */
}

h2 {
  margin: 1rem 0;
  /* border-bottom: 2px solid #ecf0f1; */
  padding: 0 1rem;
  background-color: var(--in-bg-color);
}

h3 {
  /* color: #7f8c8d; */
  margin-top: 1.5rem;
  padding-left: 1rem;
  background-color: var(--bg-color);
}
h3 + p {
  margin-top: 0.5rem;
}
p.center {
  text-align: center;
}

.update-link {
  background-color: var(--bg-color);
  padding: 1rem;
  margin: 1rem 0;
}
.note {
  /* background-color: #fff3cd; */
  background-color: var(--note-color);
  padding: 1rem;
  margin: 1rem 0;
}

ul,
ol {
  margin: 0.5rem 0;
}
ol.usage {
  padding-left: 1.5rem;
}
ol.usage li {
  list-style-type: decimal;
}

ol.usage li,
ul.filters li {
  margin: 0;
  padding: 0.1rem 0;
}
ul.browser li,
ol.routing li {
  list-style-type: square;
  margin: 0 1.5rem;
  padding: 0.1rem 0;
}

a {
  /* color: #3498db; */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

menu.bottom {
  /* display: flex; */
  justify-content: flex-end;
}
