:root {
  /* Font Sizes */
  --fontsize-normal: 1rem;
  --fontsize-small: 0.9rem;

  /* Base Colors */
  --bg-color: #ffdea1;
  --font-color: #3b2102;
  --font-hell-color: #aa5c00;
  --hell: #e6fbf7;
  --hell-hover: #fff;

  /* Menu Colors */
  --menu-bg-color: #ffcb8d;
  --menu-bg-color-hover: #ffe6c7;

  /* Input Port Colors */
  --in-bg-color: #fcaf77;
  --in-open-color: #fdcb9e;
  --in-closed-color: #e48139;

  /* Output Port Colors */
  --out-bg-color: #c9cce2;
  --out-open-color: #eaecff;
  --out-closed-color: #969cc2;

  /* Selected Port Colors */
  --selected-color: #ffc3f3;
  --selected-bg-color: #6a549a;

  /* Signal & Routing Colors */
  --signal-color: rgb(255, 136, 0);
  --routing-color: #00b3c6;
  --routing-light-color: #c8f0f5;
  --filtered-color: #8f6eea;
  --clock-color: #d60000;

  /* Feature-specific Colors */
  --monitor-bg-color: rgba(216, 158, 0, 0.44);
  --syx-bg-color: #92d6cd;
  --settings-bg-color: #cda7c7;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img,
svg,
picture {
  max-width: 100%;
  display: block;
}
html:focus-within {
  scroll-behavior: smooth;
}

body {
  font-family: monospace;
  background-color: var(--menu-bg-color);
  line-height: 1.5;
  color: var(--font-color);
}

/* header,
main,
aside  */
main {
  margin-top: 1em;
}
p.size {
  position: absolute;
  top: 0px;
  right: 10px;
  font-size: smaller;
}
/* .container.columns1 {
  --max-width: 45rem;
}
.container.columns2 {
  --max-width: 105rem;
}
.container.columns3 {
  --max-width: 140rem;
}
.container.columns4 {
  --max-width: 175rem;
} */
.container {
  /* display: grid; */
  display: flex;
  grid-gap: 1em;
  background-color: var(--bg-color);
  --padding: 1rem;
  /* width: fit-content; */
  margin-inline: auto;
  margin-top: 1em;
  padding: var(--padding);
}
.flex-column {
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-content: flex-start;
  flex-wrap: wrap;
}
/* header.element {
  height: fit-content;
} */
.flex-item {
  background-color: aqua;
  min-width: 50em;
  max-width: 55em;
  /* flex: 1 1 30rem; */
}
menu {
  background-color: var(--in-bg-color);
}

#reset_channel {
  padding-top: 2rem;
}

#monitor {
  background-color: var(--in-open-color);
  padding: 1em;
}

#sysex {
  background-color: var(--syx-bg-color);
  padding: 1rem;
}
#sysex h2 {
  background-color: var(--routing-light-color);
  margin-bottom: 1em;
  padding: 0.5rem;
}
#routing {
  display: none;
}
input,
button,
textarea,
select {
  font: inherit;
}

menu {
  /* display: grid; */
  /* grid-template-columns: auto auto; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
menu,
#inputs,
#outputs,
#filter_cc,
#channel {
  padding: 1rem;
}

#inputs,
#filter,
#monitor h2 {
  background-color: var(--in-bg-color);
}
#outputs {
  background-color: var(--out-bg-color);
}
ul {
  font-size: 0px;
}
/* p, */
li {
  list-style-type: none;
  font-size: var(--fontsize-normal);
  cursor: pointer;
}
/* li.settings,
li.sysex,
li.midiport,
li.filter, */
li:not(.menu, .portmenu, .channel) {
  margin: 0.5rem 0 0;
}

#settings_file_rename,
#sysex_file_rename,
li:not(.menu, .channel, .settings, .sysex) {
  padding: 0.1rem;
}
li.settings,
li.sysex {
  padding-right: 0.5rem;
  cursor: auto;
}
li.settings:nth-child(3) {
  padding-right: 0;
}

.form_input,
.form_buttons {
  display: inline-block;
  padding: 0.1rem 0.4em;
  cursor: pointer;
}
.form_buttons {
  width: 12rem;
  background-color: var(--menu-bg-color);
}
.form_buttons:hover {
  background-color: var(--menu-bg-color-hover);
}
li.custom_settings_file_upload::after {
  content: '(upload)';
  margin: 0.5rem 0 0;
  padding: 0.2rem 0.8rem 0.2rem 0;
  background-color: var(--settings-bg-color);
}

.menu a {
  padding: 0.2rem 0.4rem;
}

li:not(.menu, .settings, .sysex) {
  border-left: solid 0.5rem;
  border-right: solid 0.5rem;
  border-color: transparent;
}
li.routed_to_output {
  border-right: solid 0.5rem var(--routing-color);
}
li.routed_to_input {
  border-left: solid 0.5rem var(--routing-color);
}
li.routed_to_selected_input {
  border-right: solid 0.5rem var(--routing-color);
}
li.filtered {
  border-left: solid 0.5rem var(--filtered-color);
}
li.input.routing {
  border-right: solid 0.5rem var(--routing-color);
}
li.output.routing {
  border-left: solid 0.5rem var(--routing-color);
}
li.clock_in {
  border-left: solid 0.5rem var(--clock-color) !important;
}
li.clock_out {
  border-right: solid 0.5rem var(--clock-color) !important;
}
li.insignal {
  border-left: solid 0.5rem var(--signal-color) !important;
}
li.outsignal {
  border-right: solid 0.5rem var(--signal-color) !important;
}
li.filter.all_active,
li.channel.all_active {
  border-left: solid 0.5rem var(--selected-bg-color);
  border-right: solid 0.5rem var(--selected-bg-color);
}

.menu:hover {
  background-color: var(--menu-bg-color-hover);
}

a:is(:link, :visited, :hover, :active) {
  /* color: var(--font-color); */
  color: inherit;
  text-decoration: none;
  outline: transparent;
}

.midiport {
  touch-action: none;
}
.input {
  background-color: var(--in-closed-color);
}
.input.open {
  background-color: var(--in-open-color);
}

.input.open:hover {
  background-color: var(--menu-bg-color-hover);
}

.input.routing_source {
  color: var(--selected-color) !important;
  background-color: var(--routing-color) !important;
}
.output.routing_target {
  color: var(--selected-color) !important;
  background-color: var(--routing-color) !important;
}

#filter.output,
#monitor.output,
.output {
  background-color: var(--out-bg-color);
}
.output {
  background-color: var(--out-closed-color);
}
.output.open {
  background-color: var(--out-open-color);
}

.selected,
.selected_port {
  background-color: var(--selected-bg-color) !important;
  color: var(--selected-color);
}
*[contenteditable='true'] {
  background-color: #fff !important;
  color: var(--font-color) !important;
  cursor: text;
}
h1 {
  /* display: grid; */
  /* grid-template-columns: 31.2px auto auto; */
  margin-right: 1rem;
}
h1::before {
  --bg-img-size: 1.1em;
  content: '';
  display: inline-block;
  background-image: url('../icon/midi_port_icon.png');
  background-repeat: no-repeat;
  /* background-size: contain; */
  background-size: var(--bg-img-size) var(--bg-img-size);
  width: var(--bg-img-size);
  height: var(--bg-img-size);
  padding-right: 1.3em;
  transform: translatey(0.18em);
}

li.clock {
  --bg-img-size: 1.6rem;
  background-image: url('../icon/clock.png');
  background-repeat: no-repeat;
  background-size: var(--bg-img-size) var(--bg-img-size);
  width: var(--bg-img-size);
  height: var(--bg-img-size);
  position: absolute;
  right: 0.6rem;
  top: 0.6rem;
  cursor: pointer;
  opacity: 0.4;
  border: 0;
  margin: 0;
}
li.clock a {
  color: transparent;
}
.clock.clock_signal {
  opacity: 0.8;
}
.clock.visible_clock {
  opacity: 1;
}

ul#menu {
  justify-self: right;
  align-self: center;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.menu {
  background-color: var(--menu-bg-color);
  color: var(--font-color);
}

.menu.routing.active:hover {
  background-color: var(--menu-bg-color-hover);
  /* color: var(--font-color); */
}
.menu.hidden {
  color: var(--menu-bg-color);
  background-color: var(--font-color);
  /* padding: 0.2rem 0.4rem; */
}
.menu.hidden:hover {
  /* color: var(--font-color); */
  background-color: var(--font-hell-color);
  /* padding: 0.2rem 0.4rem; */
}

.firstrow,
.firstcolumn {
  color: var(--hell);
  background-color: var(--filtered-color);
}
.firstcolumn {
  padding: 0 1em;
  margin-right: 1em;
}
.firstrow {
  display: inline-block;
  margin-top: 1rem;
  padding-right: 1em;
}
.see_sysex {
  white-space: nowrap;
}

.filter_channel_list,
.reset_channel_list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 0.5rem;
  margin-top: 0.4rem;
}
.all_channel {
  grid-column: 1/-1;
}
.filter:not(.menu),
.channel,
#portmenu div,
#filter > h2 {
  background-color: var(--in-open-color);
}
#filter.output .filter,
#filter.output .channel {
  background-color: var(--out-open-color);
}
.filter.active,
.channel.selected_channel {
  background-color: var(--selected-bg-color);
  color: var(--selected-color);
}
#filter.output .filter.active,
#filter.output .channel.selected_channel {
  background-color: var(--selected-bg-color);
  color: var(--selected-color);
}

#filter {
  display: grid;
  padding-top: 1em;
}
.channel {
  text-align: center;
}
#monitor > h2 {
  margin-bottom: 1rem;
  padding: 0.5em;
}
#portmenu {
  background-color: var(--in-bg-color);
  padding: 1em 0;
}
#portmenu div {
  /* display: grid; */
  /* grid-template-columns: auto auto; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#portmenu div {
  position: relative;
}
#portmenu div {
  padding: 0.5rem 1rem 0.5rem 0.5rem;
  margin: 0 1rem;
}

#filter > h2 {
  padding: 0.5rem 1rem;
  margin: 0 1rem;
}

#filter > h2 {
  margin-bottom: 1rem;
}
#filter > h2 {
  text-align: center;
}
#portmenu h2 {
  justify-self: left;
}
#portmenu ul {
  justify-self: right;
  align-self: center;
  margin-right: 2.2rem;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}
#portmenu li:not(.clock) {
  /* justify-self: left; */
  background-color: var(--in-bg-color);
  color: var(--font-color);
  /* margin: 0 0 0 0.5rem; */
  /* display: inline-block; */
}
#portmenu li.active {
  background-color: var(--font-color);
  color: var(--menu-bg-color);
}
#portmenu li.select.active {
  background-color: var(--selected-bg-color);
  color: var(--selected-color);
}
#portmenu li.routing.active {
  background-color: var(--routing-color);
  color: var(--hell);
}

:is(#filter, #monitor) > h2 span.chosen {
  color: var(--selected-color);
  background-color: var(--selected-bg-color);
  font-weight: lighter;
  padding: 0 0.2em;
}

#filter.output > h2,
#monitor.output > h2 {
  background-color: var(--out-open-color);
}

#message_head span {
  font-size: smaller;
  font-weight: normal;
  cursor: pointer;
}
/* .input::after {
  --bg-img-size: 1.4em;
  content: '';
  display: inline-block;
  background-image: url('../icon/favicon.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-size: var(--bg-img-size) var(--bg-img-size);
  width: var(--bg-img-size);
  height: var(--bg-img-size);
  background-color: aqua;
  transform: translate(0.4em, 0.4em);
} */
input[type='file'] {
  display: none;
}

.inline_block {
  display: inline-block;
}

header aside {
  margin-top: 1em;
  background-color: var(--in-bg-color);
}

#settings {
  background-color: var(--settings-bg-color);
  padding: 1rem;
}
#settings h2 {
  background-color: #efbde7;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}
#sysex select#dumprequest,
#clear_message,
#monitor select {
  /* margin-left: 0.5em; */
  display: inline-block;
  border: 0;
  height: 1.65rem;
  padding: 0 0.5rem;
  cursor: pointer;
  background-color: var(--bg-color);
  /* width: clamp(3rem, 5rem, 7rem); */
  /* width: minmax(3rem, 5rem); */
}

.sysex_send_dump {
  margin: 0 0.5rem 0.5rem 0;
}

#settings_file_rename {
  background-color: rgb(255, 255, 255);
}
.auto_save_sysex.active {
  color: var(--selected-color);
  background-color: var(--selected-bg-color);
}
#monitor p {
  font-size: 0;
}

#monitor p span,
#sysex p {
  font-size: var(--fontsize-small);
}

#sysex h3 {
  background-color: var(--routing-light-color);
  margin: 1rem 0 0.5rem 0;
  padding: 0.5rem;
}

#sysex p.sysexfile {
  margin-top: 0.5rem;
  padding: 0.1rem 0.4em;
  /* padding: 0.5rem; */
  background-color: var(--menu-bg-color);
  width: fit-content;
  cursor: pointer;
  font-size: var(--fontsize-normal);
}
.error {
  text-align: center;
}
h1.error {
  margin-top: 2em;
}
h2.error {
  margin-top: 0.5em;
}
span.error {
  text-decoration: underline;
  font-weight: lighter;
}
/* @media (min-width: 36em) {
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: start;
    gap: 1em;
    min-height: 100vh;
  } */

.container > * {
  /* Große flex-basis für späten Umbruch des Containers */
  /* flex: 1 1 70em; */
  min-width: 50em;
}

.flex-column {
  /* Kleinere flex-basis für frühen Umbruch der flex-columns */
  /* flex: 1 1 30em; */
  min-width: 25em;
}

/* Alternative: Media Query gestaffelter Umbrüche */
.container {
  flex-direction: row;
}
.left-column {
  flex-direction: row;
}
.right-column {
  flex-direction: row;
}
@media (max-width: 180em) {
  .container {
    flex-direction: column;
  }
  .left-column {
    flex-direction: column;
  }
  .right-column {
    flex-direction: column;
  }
}
@media (max-width: 114em) {
  .container {
    flex-direction: column;
  }
  .left-column {
    flex-direction: column;
  }
  .right-column {
    flex-direction: column;
  }
}
@media (max-width: 57em) {
  .container {
    flex-direction: column;
  }
  .left-column {
    flex-direction: column;
  }
  .right-column {
    flex-direction: column;
  }
}

.main-content {
  min-height: 0;
}
main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#portmenu {
  flex-shrink: 0;
}

.sections-container {
  display: flex;
  flex: 1;
  gap: min(1em, 5em);
}

#inputs {
  flex: 0 0 auto;
}

#routing {
  /* background-color: aqua; */
  display: block;
  flex: 1;
  margin-top: 1em;
}

#outputs {
  flex: 0 0 auto;
}

svg {
  /* background-color: hsla(60, 100%, 50%, 0.678); */
  position: absolute;
}

/* SVG Border während Drag-Operationen */
main:has(li.routing_source) #graph {
  border: 2px solid var(--routing-color);
}

line {
  stroke: var(--routing-color);
  stroke-width: 3;
}
line.signal {
  stroke: var(--signal-color);
  stroke-width: 4;
}
#outputs {
  grid-column: 3/-1;
  /* grid-row: 1/2; */
  grid-row: 2/3;
}

#filter {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
}
#filter > h2 {
  grid-column: 1/-1;
  grid-row: 1/2;
}

#filter_cc {
  grid-column: 1/2;
  grid-row: 2/-1;
}
#channel {
  grid-column: 2/-1;
  grid-row: 2/-1;
}

/* @media (min-width: 74rem) {
  .container {
    grid-template-columns: repeat(auto-fill, minmax(34rem, 1fr)); */
/* width: min(var(--max-width), 100% - (var(--padding) * 2)); */
/* } */
/* div.flex-column {
    flex-direction: column;
  } */

/* .container.columns2 > .flex-column {
    flex-direction: row;
     max-width: 115rem;
  }  */

/* .container.columns3 > .flex-column {
    flex-direction: column;
  }
  .container.columns4 > .flex-column {
    flex-direction: column;
  } */
/* .flex-item {
    max-width: 55em;
    min-width: 50em;
  } */
/* } */

/* ============================================
   Message Styling
   ============================================ */

.message_buttons {
  display: inline-block;
}

#message_text.unfiltered p.filtered {
  display: none;
}
#message_text.filtered p {
  display: none;
}
#message_text p.filtered {
  background-color: #ff86ff80;
  display: block;
}

#message_text p.filtered::after {
  content: '  (filtered!!!)';
  color: var(--clock-color);
  font-size: var(--fontsize-small);
}

span.action_data,
span.doublemidimessage,
span.portname {
  padding: 0 0.5rem;
}
span.connection {
  padding: 0 0.5rem;
}
span.connection.open {
  background-color: #bdffb7;
}
span.connection.closed {
  background-color: #ff9797;
}
span.channel::before {
  content: 'Channel:';
}
span.channel::after {
  content: ' - ';
}
span.velocity {
  padding-right: 0.5rem;
}
span.velocity::before {
  content: '- Velocity:';
}
span.velocity::after {
  content: ' ';
}
span.mididata1::after {
  content: '- ';
}
span.mididata1::before,
span.noteonoroff::before {
  content: '"';
}
span.mididata1::after,
span.noteonoroff::after {
  content: '" ';
}
span.note {
  padding-right: 0.5rem;
}
span.note::before {
  content: ' - Note:';
}
span.mididata2::before {
  content: 'Value:';
}
span.mididata2::after {
  content: ' ';
}

#message_text span.channel {
  padding-left: 0.5rem;
}
#message_text span.input {
  background-color: var(--in-bg-color);
}
#message_text span.output {
  background-color: var(--out-open-color);
}
#message_text span.sysex {
  padding: 0 0.5em;
  background-color: var(--syx-bg-color);
}
#message_text p {
  background-color: var(--in-open-color);
}
span.doublemidimessage,
#message_text p.output {
  background-color: var(--out-bg-color);
}

span.action_data,
#message_text span.channel,
#message_text span.noteonoroff,
#message_text span.note,
#message_text span.velocity,
#message_text span.mididata1,
#message_text span.mididata2 {
  background-color: var(--bg-color);
}

#message_text span.channel,
#message_text span.mididata1 {
  margin: 0;
}

span.rawdata {
  padding: 0 0.5rem;
  white-space: nowrap;
  break-before: avoid;
  break-inside: avoid;
  break-after: avoid;
}
