
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Ignore local backup folder
.Backup/

# VS Code settings (enthält sensible Daten wie Passwörter)
.vscode/
